@CHARSET "UTF-8";

html,body{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	min-width: 800px;
	min-height: 720px;
	text-align: left;
	overflow: hidden;
}

.headFrame {
	width:100%; 
	height: 12%; 
	/* solid black; */
	float:left;
	overflow: hidden;  
	text-align: center; 
	background:#fffbcc;
}

.header {
	width:100%; 
	height: 40%;  
	float:left; 
	background-color: #fffbcc;
}
.menuNavi{
	width:10%;   
 	height: 60%;  
	float:left;
}

.bodyFrame {
	width:100%; 
	height:84%; 
	overflow: hidden;  
	margin: 0 auto;
	overflow: auto;
}
.body{
	width: 85%;
	height: 100%; 
	padding-left: 20px;  
	padding-right: 20px;  
	margin: 0 auto;
}
.body1{
	width: 85%;
	height: 100%; 
	padding-left: 20px;  
	padding-right: 20px;  
	margin: 0 auto;
/* 	overflow: auto; */
}
.master {
	width:100%;
	height: 50%;
}
.detail {
	width:100%; 
	height: 50%; 
	margin-top: 15px;
}
.footer {
	width:100%; 
	height: 3%; 
	float: left;
}

#mainTitleDiv {
	width: 80%;	
	margin: auto;
}

#mainTitle {
	font-size: 25pt;
	font-weight: bold;
	font-family: sans-serif;
	float: left;
	padding: 15px;
	margin-left: 45px;
}

#pageSpace {
	width: 100%;
	text-align: center;
}