html,body{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	min-width: 800px;
	min-height: 720px;
	text-align: left;
}

.headFrame {
	width:100%; 
	height: 14%; 
	/* solid black; */
	float:left;
	overflow: hidden;  
	text-align: center; 
	background:#fffbcc;
}

.header {
	width:100%; 
	height: 40%;  
	/* solid black; */
	float:left; 
	background-color: #fffbcc;
}
.navi{
	width:10%;   
 	height: 60%;  
	/* solid black; */ 
	float:left;
}


.bodyFrame {
	width:85%; 
	height:81%; 
	overflow: hidden;  
	margin: 0 auto;
}
.body{
	width: 85%;
	height: 100%; 
	padding-left: 20px;  
	padding-right: 20px;  
	margin: 0 auto;
}
.body1{
	width: 85%;
	height: 100%; 
	padding-left: 20px;  
	padding-right: 20px;  
	margin: 0 auto;
}
.master {
	width:100%;
/* 	height: 45%; */
}
.detail {
	width:100%; 
/* 	height: 45%;  */
	margin-top: 5px;
}
.footer {
	width:100%; 
	height: 5%; 
	float: left;
}

#mainTitleDiv {
	width: 80%;	
	margin: auto;
}

#mainTitle {
	font-size: 25pt;
	font-weight: bold;
	font-family: sans-serif;
	float: left;
	padding: 17px;
	margin-left: 40px;
}