@charset "utf-8";

/* 네비부분 배경색 지정 */
#title .caption {
	margin-top: 15px;
    margin-left: 10px;
}

/* 검색부분 여백지정  */
.search_div {
	padding-top: 35px;
    padding-bottom: 15px;;
}

/* 하단 버튼부분 여백지정 */
.bottom_div {
	width: 100%;
	padding-top: 15px;
}

.functionBtn_div {
	width: 45%;
	padding-left: 10px;
	float: left;
}

.ui right floated pagination menu {
	width: 45%;
	float: right;
}

table tbody tr th {
	text-align: right;
}

#tableline2 {
    padding: 10px;
}
