@charset "utf-8";

/* div Class */
#tableline2 #tblTh, #tableline2 #goaltable, #tableline2 #actTable 
{
	width:100%;
	border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #DDD;
}

#tableline2 #tblTh thead, 
#tableline2 #goaltable thead, 
#tableline2 #actTable thead{
	float: left; 
	width:100%;
}

#tableline2 #tblTh  thead tr, 
#tableline2 #goaltable  thead tr, 
#tableline2 #actTable thead tr{
	height:25px;
}

#tableline2 #tblTh thead td, 
#tableline2 #goaltable thead td, 
#tableline2 #actTable thead td
{
	font-weight: bold;
	vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 8px;
}

#tblTh thead th,
#tblTh thead td {
	background-color: #F2F2F2;
	font-weight: bold;
}

#tableline2 #tblTh tbody tr:hover, 
#tableline2 #goaltable tbody tr:hover, 
#tableline2 #actTable tbody tr:hover
{
	background-color:#ebe7e7;
}

#tableline2 #tblTh tbody, 
#tableline2 #goaltable tbody, 
#tableline2 #actTable tbody
{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 160px;
}
#tableline2 #tblTh tbody tr, 
#tableline2 #goaltable tbody tr, 
#tableline2 #actTable tbody tr
{
	display: table;
	width: 100%;
}

#tableline2 #tblTh tbody td,
#tableline2 #goaltable tbody td, 
#tableline2 #actTable tbody td
{
/* 	width: 25%; */
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
/*     padding-left:20px; */
    text-align: left;
}

#tableline2 #tblTh thead tr th ,
#tableline2 #goaltable thead tr th, 
#tableline2 #actTable thead tr th
{
    vertical-align: center;
    text-align: center;
    border-bottom: 2px solid #dddddd;
    width: 25%;
    background: #F9FAFB;
   
}