<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="authIuser">

	<sql id="where-authIuserList">
	  <if test="keyfield=='au_id'">
	      AND a.AUTH_ID LIKE '%' || #{keyword} || '%'
	  </if>
	  <if test="keyfield=='ua_id'">
	      AND b.ID_NM LIKE '%' || #{keyword} || '%'
	  </if>
	</sql>

	<select id="authIuserSelect" resultType="com.crm.cp.standard.authIuser.vo.AuthIuserVO">
		SELECT  distinct b.ID_NM, b.IUSER_ID, b.IUSER_NM
        	, LISTAGG(a.AUTH_ID,', ') WITHIN GROUP (ORDER BY a.AUTH_ID) AS auth_id
        	, LISTAGG((SELECT DISTINCT AUTH_NM 
                      FROM AUTHORIZATION
                      WHERE AUTH_ID = a.AUTH_ID),', ') WITHIN GROUP (ORDER BY a.AUTH_ID) AS auth_nm
        	, (SELECT DISTINCT FST_REG_ID FROM AUTHORIZATION_IUSER WHERE IUSER_ID = b.IUSER_ID) AS FST_REG_ID
        	, TO_CHAR((SELECT FST_REG_D 
                      FROM (SELECT DISTINCT FST_REG_D,IUSER_ID,
                            row_number() over(partition by IUSER_ID order by FST_REG_D desc) rn 
                            FROM AUTHORIZATION_IUSER ORDER BY FST_REG_D) 
                            WHERE rn =1 AND IUSER_ID = b.IUSER_ID ),'YYYY-MM-DD HH24:MI:SS') AS FST_REG_D
		FROM AUTHORIZATION_IUSER a, IUSER b
		WHERE a.IUSER_ID = b.IUSER_ID
		GROUP BY b.IUSER_ID,b.IUSER_NM,b.ID_NM
        ORDER BY FST_REG_D DESC
	</select>
	
	<select id="authIuserSelectSearch" parameterType="map" resultType="com.crm.cp.standard.authIuser.vo.AuthIuserVO">
		SELECT  distinct b.ID_NM, b.IUSER_ID, b.IUSER_NM
        	, LISTAGG(a.AUTH_ID,', ') WITHIN GROUP (ORDER BY a.AUTH_ID) AS auth_id
        	, LISTAGG((SELECT DISTINCT AUTH_NM 
                      FROM AUTHORIZATION
                      WHERE AUTH_ID = a.AUTH_ID),', ') WITHIN GROUP (ORDER BY a.AUTH_ID) AS auth_nm
        	, (SELECT DISTINCT FST_REG_ID FROM AUTHORIZATION_IUSER WHERE IUSER_ID = b.IUSER_ID) AS FST_REG_ID
        	, TO_CHAR((SELECT FST_REG_D 
                      FROM (SELECT DISTINCT FST_REG_D,IUSER_ID,
                            row_number() over(partition by IUSER_ID order by FST_REG_D desc) rn 
                            FROM AUTHORIZATION_IUSER ORDER BY FST_REG_D) 
                            WHERE rn =1 AND IUSER_ID = b.IUSER_ID ),'YYYY-MM-DD HH24:MI:SS') AS FST_REG_D
		FROM AUTHORIZATION_IUSER a, IUSER b
		WHERE a.IUSER_ID = b.IUSER_ID
		<if test="keyword!=null and keyword!='' ">
	        <include refid="where-authIuserList"/>
	    </if>
	    GROUP BY b.IUSER_ID,b.IUSER_NM,b.ID_NM
		ORDER BY a.FST_REG_D DESC
	</select>
	
	<select id="authList" parameterType="map" resultType="com.crm.cp.standard.authIuser.vo.AuthIuserVO">
		SELECT AUTH_ID, AUTH_NM FROM AUTHORIZATION
		MINUS
		SELECT A.AUTH_ID, (SELECT AUTH_NM FROM AUTHORIZATION WHERE AUTH_ID=A.AUTH_ID)AUTH_NM
		FROM AUTHORIZATION_IUSER a
		WHERE IUSER_ID =  #{iuser_id}
   		
	</select>
	
	<select id="userAuthList" parameterType="map" resultType="com.crm.cp.standard.authIuser.vo.AuthIuserVO">
		SELECT A.AUTH_ID, (SELECT AUTH_NM FROM AUTHORIZATION WHERE AUTH_ID=A.AUTH_ID)AUTH_NM
		FROM AUTHORIZATION_IUSER a
		WHERE IUSER_ID =  #{iuser_id}
	</select>
	
	<select id="authIuserDetail" parameterType="map" resultType="com.crm.cp.standard.authIuser.vo.AuthIuserVO">
		SELECT a.AUTH_ID, a.IUSER_ID, a.FST_REG_ID, a.FST_REG_D, b.ID_NM
		FROM AUTHORIZATION_IUSER a, IUSER b
		WHERE a.IUSER_ID = b.IUSER_ID
   		AND b.IUSER_ID = #{iuser_id}
	</select>
	
	<select id="searchUserAuth" parameterType="com.crm.cp.standard.authIuser.vo.AuthIuserVO" resultType="int">
		SELECT count(*)
		FROM AUTHORIZATION_IUSER
		WHERE IUSER_ID = #{iuser_id}
	</select>
	
	<insert id="userInsert" keyColumn="auth_id" parameterType="com.crm.cp.standard.iuser.vo.IuserVO">
		INSERT INTO AUTHORIZATION_IUSER(AUTH_ID, FST_REG_ID, IUSER_ID)
		VALUES(#{auth_id}, #{fst_reg_id}, #{iuser_id})
	</insert>
	
	<update id="authIuserEdit" parameterType="com.crm.cp.standard.authIuser.vo.AuthIuserVO">
		UPDATE AUTHORIZATION_IUSER
		SET AUTH_ID=#{auth_id}
		WHERE IUSER_ID=#{iuser_id}
	</update>
	
	<delete id="authIuserDelete" parameterType="com.crm.cp.standard.authIuser.vo.AuthIuserVO">
		DELETE
		FROM AUTHORIZATION_IUSER
		WHERE IUSER_ID=#{iuser_id}
	</delete>
</mapper>