<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="auth">

	<sql id="where-list">
	  <if test="keyfield=='a_id'">
	      WHERE AUTH_ID LIKE '%' || #{keyword} || '%'
	  </if>
	  <if test="keyfield=='a_name'">
	      WHERE AUTH_NM LIKE '%' || #{keyword} || '%'
	  </if>
	</sql>
    
    <select id="authSelect" parameterType="com.crm.cp.standard.auth.vo.AuthVO" resultType="com.crm.cp.standard.auth.vo.AuthVO">
      SELECT 
			auth_id,
			auth_nm,
			fst_reg_id,
			TO_CHAR(fst_reg_dt, 'yyyy-mm-dd') fst_reg_dt,
			fin_mdfy_id,
			TO_CHAR(fin_mdfy_dt, 'yyyy-mm-dd')  fin_mdfy_dt,
			act_yn
      FROM AUTHORIZATION
      <if test="keyword!=null and keyword!='' ">
	        <include refid="where-list"/>
	  </if>
      ORDER BY AUTH_ID
    </select>
    
    <update id="authDelete" parameterType="string">
	   UPDATE AUTHORIZATION
	   SET ACT_YN = 'N', fin_mdfy_id = #{fin_mdfy_id}, FIN_MDFY_DT = sysdate
	   WHERE AUTH_ID = #{auth_id}
    </update> 
    
    <insert id="authInsert"  parameterType="com.crm.cp.standard.auth.vo.AuthVO">
	    INSERT INTO 
	    AUTHORIZATION
	    (
	    	AUTH_ID, AUTH_NM, ACT_YN, FST_REG_ID, fin_mdfy_id
	    )
		VALUES((SELECT /*+INDEX_DESC(AUTHORIZATION PK_AUTHORIZATION)*/
			    DECODE(MAX(AUTH_ID),NULL,'AU00001',SUBSTR(MAX(AUTH_ID),1,2)||lpad((SUBSTR(MAX(AUTH_ID),3,5)+1),5,0))AUTH_ID
			FROM AUTHORIZATION
			WHERE ROWNUM=1),#{auth_nm},#{act_yn},#{fst_reg_id}, #{fin_mdfy_id})
    </insert>
    
    <select id="authDetail" parameterType="string" resultType="com.crm.cp.standard.auth.vo.AuthVO">
       SELECT 
		  auth_id,
		  auth_nm,
		  fst_reg_id,
		  TO_CHAR(fst_reg_dt, 'yyyy-mm-dd hh24:mi') fst_reg_dt,
		  fin_mdfy_id,
		  TO_CHAR(fin_mdfy_dt, 'yyyy-mm-dd hh24:mi')  fin_mdfy_dt,
		  act_yn
			
	   FROM AUTHORIZATION	  
       WHERE AUTH_ID = #{auth_id}
    </select>
    
    <update id="authEdit" parameterType="com.crm.cp.standard.auth.vo.AuthVO">
		UPDATE AUTHORIZATION
		SET AUTH_NM=#{auth_nm}, fin_mdfy_id=#{fin_mdfy_id}, ACT_YN = #{act_yn}, FIN_MDFY_DT = sysdate
		WHERE AUTH_ID=#{auth_id}
	</update>
</mapper>