<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	
	<select id="searchUser" parameterType="map" resultType="map">
	SELECT count(*) as count
	FROM IUSER
	WHERE IUSER_NM=#{user_id} and PWD=#{password}
	</select>
	
	<sql id="where-list">
	  <if test="keyfield=='u_id'">
	      AND u.ID_NM LIKE '%' || #{keyword} || '%'
	  </if>
	  <if test="keyfield=='u_name'">
	      AND u.IUSER_NM LIKE '%' || #{keyword} || '%'
	  </if>
	  <if test="keyfield=='o_name'">
	      AND oz.ORG_NM LIKE '%' || #{keyword} || '%'
	  </if>
	</sql>
	
	<sql id="code_list">
	  <if test="keyfield=='c_name'">
	      AND CD_NM LIKE '%' || #{keyword} || '%'
	  </if>
	  <if test="keyfield=='c_id'">
	      AND CODE LIKE '%' || #{keyword} || '%'
	  </if>
	</sql>
	
	<sql id="org_list">
	  <if test="keyfield=='o_name'">
	      WHERE org_nm LIKE '%' || #{keyword} || '%'
	  </if>
	  <if test="keyfield=='o_id'">
	      WHERE org_id LIKE '%' || #{keyword} || '%'
	  </if>
	  <if test="keyfield=='r_id'">
	      WHERE rep_emp_id LIKE '%' || #{keyword} || '%'
	  </if>
	</sql>
	
	<!-- 영업기회 리스트 row 개수 가져오기 -->
	<select id="iUserDelPageCount" resultType="int" parameterType="java.util.Map">
		SELECT count(IUSER_ID)
		FROM IUSER 
		WHERE 1=1
		AND ACT_YN = 'N'
	</select>
	
<!-- 	사용자 리스트 출력 -->
	<select id="userSelect" parameterType="map" resultType="com.crm.cp.standard.iuser.vo.IuserVO">
	 	select u.IUSER_ID, u.ID_NM, u.IUSER_NM, oz.ORG_NM, u.EMAIL1, u.EMAIL2, u.CELL_PH1, u.CELL_PH2, u.CELL_PH3, 
        		u.ACT_YN, c.CD_NM
		FROM iuser u, organization oz, CODE c
		WHERE 1=1
    	AND u.ORG_ID = oz.ORG_ID(+)
		AND u.IUSER_DIV_CD = c.CODE
		AND c.CD_GRP_ID = 'USR'
		AND u.iuser_id != 'IU00001'
		AND u.act_yn = 'Y'
      <if test="keyword!=null and keyword!='' ">
	        <include refid="where-list"/>
	  </if> 
	  <choose>
	  		<when test="order_by == 'fin_mdfy_dt'">
				order by u.fin_mdfy_dt
			</when>
			<when test="order_by == 'id_nm'">
				order by u.ID_NM
			</when>
			<when test="order_by == 'iuser_nm'">
				order by u.IUSER_NM
			</when>
			<when test="order_by == 'org_nm'">
				order by oz.ORG_NM
			</when>
			<when test="order_by == 'email'">
				order by u.EMAIL1
			</when>
			<when test="order_by == 'cell_ph'">
				order by u.CELL_PH1 asc, u.CELL_PH1 asc, u.CELL_PH1
			</when>
			<when test="order_by == 'cd_nm'">
				order by c.CD_NM
			</when>
			<when test="order_by == 'act_yn'">
				order by u.ACT_YN
			</when>
		</choose>
		<choose>
			<when test="order_sc == 'DESC'">
				desc
			</when>
			<when test="order_sc == 'ASC'">
				asc
			</when>
		</choose>
	</select>
	
<!-- 	삭제된 사용자 리스트 출력 -->
	<select id="iUserDelList" parameterType="map" resultType="com.crm.cp.standard.iuser.vo.IuserVO">
	 	select u.IUSER_ID, u.ID_NM, u.IUSER_NM, oz.ORG_NM, u.EMAIL1, u.EMAIL2, u.CELL_PH1, u.CELL_PH2, u.CELL_PH3, 
        		u.ACT_YN, c.CD_NM
		FROM iuser u, organization oz, CODE c
		WHERE 1=1
    	AND u.ORG_ID = oz.ORG_ID(+)
		AND u.IUSER_DIV_CD = c.CODE
		AND c.CD_GRP_ID = 'USR'
		AND u.iuser_id != 'IU00001'
		AND u.act_yn = 'N'
      <if test="keyword!=null and keyword!='' ">
	        <include refid="where-list"/>
	  </if> 
	  <choose>
	  		<when test="order_by == 'fin_mdfy_dt'">
				order by u.fin_mdfy_dt
			</when>
			<when test="order_by == 'id_nm'">
				order by u.ID_NM
			</when>
			<when test="order_by == 'iuser_nm'">
				order by u.IUSER_NM
			</when>
			<when test="order_by == 'org_nm'">
				order by oz.ORG_NM
			</when>
			<when test="order_by == 'email'">
				order by u.EMAIL1
			</when>
			<when test="order_by == 'cell_ph'">
				order by u.CELL_PH1 asc, u.CELL_PH1 asc, u.CELL_PH1
			</when>
			<when test="order_by == 'cd_nm'">
				order by c.CD_NM
			</when>
			<when test="order_by == 'act_yn'">
				order by u.ACT_YN
			</when>
		</choose>
		<choose>
			<when test="order_sc == 'DESC'">
				desc
			</when>
			<when test="order_sc == 'ASC'">
				asc
			</when>
		</choose>
 	</select>
	
	<select id="iuserAuthSelect" resultType="com.crm.cp.standard.auth.vo.AuthVO">
	    SELECT *
        FROM AUTHORIZATION
        where ACT_YN = 'Y'
	</select>
	
	<select id="codeSelect" parameterType="map" resultType="com.crm.cp.standard.code.vo.CodeVO">
	    SELECT CD_GRP_ID, CODE, CD_NM, CD_SEQ_NUM, CD_DTL_CONT
		FROM CODE
		WHERE CD_GRP_ID = 'USR'
	    <if test="keyword!=null and keyword!=''">
	        <include refid="code_list"/>
	  	</if>
	   	order by CD_GRP_ID
	</select>
	
	<select id="orgSelect" parameterType="map" resultType="com.crm.cp.standard.org.vo.OrganizationVO">
	    SELECT ORG_ID, ORG_NM, REP_EMP_ID, ORG_TYPE_ID
		FROM ORGANIZATION
	    <if test="keyword!=null and keyword!=''">
	        <include refid="org_list"/>
	  	</if>
	   	order by org_id 
	</select>
	
	<!-- userId = 사용자 로그인 아이디를 의미함.  -->
	<select id="iuserSelectById" parameterType="string" resultType="com.crm.cp.standard.iuser.vo.IuserVO">
		SELECT a.IUSER_ID, a.ID_NM, a.IUSER_NM, a.PWD, a.IUSER_DIV_CD, c.cd_nm as IUSER_DIV_NM, a.PH1, a.ph2,
       		   a.PH3, a.COMP_PH1, a.COMP_PH2, a.COMP_PH3, a.CELL_PH1, a.CELL_PH2, a.CELL_PH3,
       		   a.EMAIL1, a.EMAIL2, a.ORG_ID, o.ORG_NM,  a.ACT_YN
		FROM IUSER a, CODE c, ORGANIZATION o
		WHERE 1=1
      AND a.ID_NM= #{userId}
      AND c.CD_GRP_ID = 'USR' 
      AND a.ORG_ID = o.ORG_ID
      AND a.IUSER_DIV_CD = c.CODE
	</select>
	
	<select id="userOneSelect" parameterType="string" resultType="map">
		SELECT u.IUSER_ID, u.ID_NM, u.IUSER_NM, o.ORG_NM, u.EMAIL1, u.EMAIL2, u.CELL_PH1, 
       		   u.CELL_PH2, u.CELL_PH3, c.CD_NM, u.ACT_YN
		from IUSER u, ORGANIZATION o, CODE c
		WHERE 1=1
		AND u.IUSER_ID = #{userId}
		AND u.ORG_ID = o.ORG_ID
		AND u.IUSER_DIV_CD = c.CODE
		AND c.CD_GRP_ID = 'USR'
	</select>
	
	<select id="userIDOneSelect" parameterType="string" resultType="map">
		SELECT u.IUSER_ID, u.ID_NM, u.IUSER_NM, o.ORG_NM, u.EMAIL1, u.EMAIL2, u.CELL_PH1, 
       		   u.CELL_PH2, u.CELL_PH3, c.CD_NM, u.ACT_YN
		from IUSER u,  ORGANIZATION o, CODE c
		WHERE 1=1
		AND u.ID_NM = #{id_nm}
		AND u.ORG_ID = o.ORG_ID
		AND u.IUSER_DIV_CD = c.CODE
		AND c.CD_GRP_ID = 'USR'
	</select>
	
	<update id="iuserInsert" parameterType="com.crm.cp.standard.iuser.vo.IuserVO">
		INSERT INTO IUSER(IUSER_ID,
			ID_NM, IUSER_NM, PWD, EMAIL1, EMAIL2, CELL_PH1, CELL_PH2, CELL_PH3, PH1, PH2, PH3,
			COMP_PH1, COMP_PH2, COMP_PH3, IUSER_DIV_CD, ORG_ID, ACT_YN, FST_REG_ID, FIN_MDFY_ID)
		VALUES(
			(SELECT /*+INDEX_DESC(IUSER PK_IUSER)*/
             DECODE(MAX(IUSER_ID),NULL,'IU00001',SUBSTR(MAX(IUSER_ID),1,2)||lpad((SUBSTR(MAX(IUSER_ID),3,5)+1),5,0))IUSER_ID
         FROM IUSER
         WHERE ROWNUM=1),#{id_nm}, #{iuser_nm}, #{pwd}, #{email1}, #{email2}, #{cell_ph1}, #{cell_ph2}, #{cell_ph3},
			#{ph1}, #{ph2}, #{ph3}, #{comp_ph1}, #{comp_ph2}, #{comp_ph3}, #{iuser_div_cd},
			#{org_id}, #{act_yn}, #{fst_reg_id}, #{fst_reg_id})
	</update>
	
	<update id="iuserEdit" parameterType="com.crm.cp.standard.iuser.vo.IuserVO">
		UPDATE IUSER 
		SET ORG_ID=#{org_id}, IUSER_NM=#{iuser_nm}, ID_NM=#{id_nm}, PWD=#{pwd}, EMAIL1=#{email1}, EMAIL2=#{email2}, 
			CELL_PH1=#{cell_ph1}, CELL_PH2=#{cell_ph2}, CELL_PH3=#{cell_ph3}, PH1=#{ph1}, PH2=#{ph2}, PH3=#{ph3},
  			COMP_PH1=#{comp_ph1}, COMP_PH2=#{comp_ph2}, COMP_PH3=#{comp_ph3}, IUSER_DIV_CD=#{iuser_div_cd}, ACT_YN=#{act_yn}, FIN_MDFY_ID=#{fin_mdfy_id}, FIN_MDFY_DT = sysdate
		WHERE IUSER_ID=#{iuser_id}
	</update>
	
	<update id="iuserAuthEdit" parameterType="com.crm.cp.standard.iuser.vo.IuserVO">
		UPDATE AUTHORIZATION_IUSER
		SET AUTH_ID=#{auth_id}
		WHERE IUSER_ID=#{iuser_id}
	</update>
	
	<!-- 사용자 삭제 -->
	 <update id="iuserDelete" parameterType="string">
	   UPDATE IUSER
	   SET ACT_YN = 'N', FIN_MDFY_DT = sysdate        
	   WHERE IUSER_ID = #{iuser_id}
    </update>
	 <update id="iuserDelRollback" parameterType="string">
	   UPDATE IUSER
	   SET ACT_YN = 'Y', FIN_MDFY_DT = sysdate        
	   WHERE IUSER_ID = #{iuser_id}
    </update>
    
    <update id="ccMngAdd" parameterType="com.crm.cp.standard.iuser.vo.IuserVO">
		INSERT INTO PARTNER_OF_CLIENT
				  (
				    CUST_ID,
				    IUSER_ID,
				    KEY_PART,
				    FST_REG_id,
				    FST_REG_dt,
				    FIN_MDFY_id,
				    FIN_MDFY_dt
				  )
				  VALUES
				  (
				    #{cust_id, jdbcType=VARCHAR},
				    #{iuser_id, jdbcType=VARCHAR},
				    #{key_part, jdbcType=VARCHAR},
				    #{fst_reg_id, jdbcType=VARCHAR},
				    sysdate,
				    #{fin_mdfy_id, jdbcType=VARCHAR},
				    sysdate
				  )
	</update>
	<select id="ccMngList" parameterType="map" resultType="com.crm.cp.standard.iuser.vo.IuserVO">
		SELECT a.CUST_ID,
				b.CUST_NM,
				a.IUSER_ID,
	       		c.IUSER_NM,
				a.KEY_PART,
				a.FST_REG_ID,
				a.FST_REG_DT,
				a.FIN_MDFY_ID,
				a.FIN_MDFY_DT
		FROM PARTNER_OF_CLIENT a, CUSTOMER b, IUSER c
	    where 1=1
	        and a.CUST_ID=b.CUST_ID
	        and a.IUSER_ID=c.IUSER_ID
	        and a.CUST_ID=#{cust_id}
	</select>
	<select id="ccMngDetail" parameterType="map" resultType="com.crm.cp.standard.iuser.vo.IuserVO">
		 	SELECT a.CUST_ID,
					b.CUST_NM,
					a.IUSER_ID,
		      		c.IUSER_NM,
		      		org.org_nm,
					a.KEY_PART,
					c.EMAIL1,
					c.EMAIL2,
					c.CELL_PH1,
					c.CELL_PH2,
					c.CELL_PH3,
					a.FST_REG_ID,
					a.FST_REG_DT,
					a.FIN_MDFY_ID,
					a.FIN_MDFY_DT
			FROM PARTNER_OF_CLIENT a, CUSTOMER b, IUSER c,  ORGANIZATION org
		    where 1=1
				and a.CUST_ID=b.CUST_ID
		        and a.IUSER_ID=c.IUSER_ID
		        and c.org_id = org.org_id  
				and a.CUST_ID=#{cust_id}
				and a.iuser_id=#{iuser_id}
	</select>
	<update id="ccMngUpdate" parameterType="com.crm.cp.standard.iuser.vo.IuserVO">
		update PARTNER_OF_CLIENT
		set KEY_PART=#{key_part, jdbcType=VARCHAR}
		   
		where cust_id=#{cust_id, jdbcType=VARCHAR}
			and iuser_id=#{iuser_id, jdbcType=VARCHAR}
	</update>
	<delete id="ccMngDelete" parameterType="com.crm.cp.standard.iuser.vo.IuserVO">
		delete from PARTNER_OF_CLIENT
		where cust_id=#{cust_id}
			and iuser_id=#{iuser_id}
	</delete>
	<!-- 삭제된 사용자 완전삭제 -->
	<delete id="iuserDelDelete" parameterType="com.crm.cp.standard.iuser.vo.IuserVO">
		delete from IUSER
		where iuser_id=#{iuser_id}
	</delete>
</mapper>