<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="organization">
<select id="searchOrganList" parameterType="string" resultType="map">
	SELECT 
		ORG_ID ,
	    ORG_NAME ,
	    ZIP_NO ,
	    ADDR_DETAIL ,
	    PHONE_NO ,
	    FAX_NO ,
	    ORG_LEVEL_CD ,
	    MAIN_GROUND ,
	    P_ORG_ID ,
	    REP_EMP_ID ,
	    ORG_TYPE_ID ,
	    ACTIVE_FLG ,
	    C_USER_ID ,
	    CDATE ,
	    U_USER_ID ,
	    UDATE 
	FROM ORGANIZATION
	WHERE ACTIVE_FLG = 'Y'
</select>

<select id="organCheck" parameterType="String" resultType="map">
SELECT 
	*
FROM ORGANIZATION
WHERE ORG_ID = #{ORG_ID}
</select>	

<update id = "insertOrgan" parameterType = "com.crm.cp.test.org.vo.OrganVO">
INSERT INTO ORGANIZATION
(
    ORG_ID,
    ORG_NAME ,
    MAIN_GROUND ,
    ZIP_NO ,
    ADDR_DETAIL ,
    PHONE_NO ,
    FAX_NO ,
    ORG_LEVEL_CD ,
    P_ORG_ID ,
    REP_EMP_ID ,
    ORG_TYPE_ID ,
    ACTIVE_FLG 
)
VALUES (
	#{ORG_ID , jdbcType=VARCHAR},
    #{ORG_NAME , jdbcType=VARCHAR} ,
    #{MAIN_GROUND , jdbcType=VARCHAR} ,
    #{ZIP_NO , jdbcType=VARCHAR} ,
    #{ADDR_DETAIL , jdbcType=VARCHAR} ,
    #{PHONE_NO , jdbcType=VARCHAR} ,
    #{FAX_NO , jdbcType=VARCHAR} ,
    #{ORG_LEVEL_CD , jdbcType=VARCHAR} ,
    #{P_ORG_ID , jdbcType=VARCHAR} ,
    #{REP_EMP_ID , jdbcType=VARCHAR} ,
    #{ORG_TYPE_ID , jdbcType=VARCHAR} ,
    #{ACTIVE_FLG , jdbcType=VARCHAR}
)
</update>

<update id = "modifyOrgan" parameterType = "com.crm.cp.test.org.vo.OrganVO">
	UPDATE ORGANIZATION
	SET ORG_NAME = #{ORG_NAME},
	    ZIP_NO = #{ZIP_NO},
	    ADDR_DETAIL = #{ADDR_DETAIL},
	    PHONE_NO = #{PHONE_NO},
	    FAX_NO = #{FAX_NO},
	    ORG_LEVEL_CD = #{ORG_LEVEL_CD},
	    MAIN_GROUND = #{MAIN_GROUND}
	WHERE ORG_ID = #{ORG_ID}
</update>

<update id = "updateOrgan" parameterType = "com.crm.cp.test.org.vo.OrganVO">
	UPDATE ORGANIZATION
	SET ORG_NAME = #{ORG_NAME},
	    ZIP_NO = #{ZIP_NO},
	    ADDR_DETAIL = #{ADDR_DETAIL},
	    PHONE_NO = #{PHONE_NO},
	    FAX_NO = #{FAX_NO},
	    ORG_LEVEL_CD = #{ORG_LEVEL_CD},
	    MAIN_GROUND = #{MAIN_GROUND}
	WHERE ORG_ID = #{ORG_ID}
</update>

<select id="selectOrganOne" resultType="map" parameterType="com.crm.cp.test.org.vo.OrganVO">
	SELECT 
		*
	FROM 
		ORGANIZATION
	WHERE
		ORG_ID = #{ORG_ID}
</select>

<update id = "deleteOrgan" parameterType="String">
	UPDATE ORGANIZATION
	SET ACTIVE_FLG = 'N'
	WHERE ORG_ID = #{ORG_ID}
</update>

</mapper>