<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="prod">
    
    <sql id="where-list">
	  <if test="selectKey=='ok'">
	      userName=#{searchValue}
	  </if>
	</sql>
    
    
    <!-- 영업활동 전체 리스트 -->
	<select id="prodList" parameterType="map" resultType="com.crm.cp.standard.prod.vo.ProdVO">
		SELECT SAL.* FROM (
		  SELECT rownum num, a.*
		  FROM 
		  (
		      SELECT
		         p.prod_id,
		         p.prod_nm
		        ,cd.cd_nm
		        ,cd.code
		        ,p.prod_price
		        ,c1.CATE_ID || '>' || c2.UP_CATE_ID as cate
		        ,p.fst_reg_id
		        ,p.fst_reg_dt
		      FROM PRODUCT p, code cd,category c1,category c2 
		      WHERE c1.cate_id = c2.cate_id
		      AND p.cate_id = c1.CATE_ID
		      AND p.PROD_DIV_CD = cd.code
		      AND cd.cd_grp_id = 'PRD'
		      AND p.act_yn = 'Y'
		      
		      <if test="prod_nm != null and prod_nm != '' ">
		      	AND p.prod_nm like '%' || #{prod_nm} || '%'
		      </if>
		      
		      <if test="code != null and code != '' and code != 'all'">
		      	AND cd.code like #{code}
		      </if>
		      
		      order by p.prod_id desc
		  ) a order by rownum
		) SAL
		<![CDATA[WHERE SAL.num>=#{startRow}
				 AND SAL.num<=#{endRow}]]>
        
	</select>

	<!-- 리스트 개수 -->
	<select id="prodListTotalCount" resultType="int">
		SELECT
		NVL(COUNT(PROD_ID), 0)
		FROM PRODUCT
		WHERE ACT_YN = 'Y'
	</select>
	
	<select id="prodServiceCodeList" resultType="com.crm.cp.standard.prod.vo.ProdVO">
		SELECT
			 code,
			 cd_nm
		FROM code
		WHERE cd_grp_id='PRD'		
		
		<!-- SELECT
			 code,
			 cd_nm
		FROM code
		WHERE cd_grp_id='PRD'
		<if test="selectKey=='ok'">	 
		AND CODE=#{prod_div_cd}
		</if>
	    UNION ALL
	    SELECT
			 code,
			 cd_nm
		FROM code
		WHERE cd_grp_id='PRD'
		<if test="selectKey=='ok'">
	 		<![CDATA[		
				AND CODE<>#{prod_div_cd}
			]]>
		</if>	 -->
	</select>
	
	<select id="cateName" resultType="com.crm.cp.standard.prod.vo.ProdVO">
		select 
    		cate_id,
    		cate_nm,
    		cate_dtl_cont
    	from category
	</select>
	
<!-- 	<sql id="img_file"> -->
<!-- 	 		PROD_IMG_NM = #{prod_img_nm, jdbcType=VARCHAR}, -->
<!-- 			PROD_IMG_SAVE_LOC = #{prod_img_save_loc, jdbcType=VARCHAR}, -->
<!-- 	</sql> -->
<!-- 	<sql id="catal_file"> -->
<!-- 	     	PROD_CATAL_NM = #{prod_catal_nm, jdbcType=VARCHAR}, -->
<!-- 			PROD_CATAL_SAVE_LOC = #{prod_catal_save_loc, jdbcType=VARCHAR}, -->
<!-- 	</sql> -->
	
	
	<update id="prodUpdate" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		UPDATE product
		SET
			CATE_ID = #{cate_id},
			PROD_NM = #{prod_nm},
			PROD_DIV_CD = #{prod_div_cd},
			prod_price = #{prod_price},
			PROD_URL = #{prod_url},
			PROD_DTL_CONT = #{prod_dtl_cont},			
	   		<!-- <if test="prod_img_nm!=null and prod_img_nm!=''">
     	    	<include refid="img_file"/>
     		</if>		
     		<if test="prod_catal_nm!=null and prod_catal_nm!=''">
     	    	<include refid="catal_file"/>
     		</if> -->			
			fin_mdfy_id = #{fst_reg_id},
			FIN_MDFY_DT = sysdate
			
		WHERE PROD_ID=#{prod_id}	
	</update>
	
	<update id="prodInsert" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		insert into PRODUCT(
			PROD_ID,
			CATE_ID,
			PROD_NM,
			PROD_DIV_CD,
			prod_price,
			PROD_URL,
			PROD_DTL_CONT,
			<!-- PROD_IMG_NM,
			PROD_IMG_SAVE_LOC,
			PROD_CATAL_NM,
			PROD_CATAL_SAVE_LOC, -->
			fst_reg_id,
			fin_mdfy_id
		)VALUES(
			(SELECT /*+INDEX_DESC(PRODUCT PK_PRODUCT)*/
				DECODE(MAX(PROD_ID),NULL,'PRD0000001',SUBSTR(MAX(PROD_ID),1,3)||LPAD((SUBSTR(MAX(PROD_ID),4,7)+1),7,0))PROD_ID
			FROM PRODUCT
			WHERE ROWNUM = 1),
			#{cate_id},
			#{prod_nm},
			#{prod_div_cd},
			#{prod_price},
			#{prod_url},
			#{prod_dtl_cont},
			<!-- #{prod_img_nm, jdbcType=VARCHAR},
			#{prod_img_save_loc, jdbcType=VARCHAR},
			#{prod_catal_nm, jdbcType=VARCHAR},
			#{prod_catal_save_loc, jdbcType=VARCHAR}, -->
			#{fst_reg_id},
			#{fst_reg_id}
		)
		<selectKey keyProperty="prod_seq" resultType="String" order="AFTER">
			SELECT /*+INDEX_DESC(PRODUCT PK_PRODUCT)*/
				PROD_ID
			FROM PRODUCT
			WHERE ROWNUM = 1
		</selectKey>
	</update>
	
	
	<select id="prodRead" parameterType="String" resultType="com.crm.cp.standard.prod.vo.ProdVO">
		SELECT 
			p.prod_id,
			p.prod_nm,
      		ca.cate_id,
			ca.cate_nm,
     		c.code,
			c.cd_nm,
			p.prod_url,
			p.prod_price,
			p.prod_div_cd,
			p.prod_dtl_cont
			<!-- p.prod_img_nm,
			p.prod_img_save_loc,
			p.prod_catal_nm,
			p.prod_catal_save_loc -->
		FROM PRODUCT p,CATEGORY ca,CODE c
		WHERE PROD_ID = #{prod_id}	
	    	AND p.cate_id = ca.cate_id
			AND c.cd_grp_id='PRD'
			AND p.prod_div_cd = c.code
	</select>
	
	<select id="imgList" parameterType="String" resultType="com.crm.cp.standard.prod.vo.ProdVO">
		SELECT A.ATTACH_ID,
				A.FILE_ROOT AS PROD_IMG_NM,
				A.FILE_NM AS PROD_IMG_SAVE_LOC
		FROM PRODUCT P, PROD_OF_ATTACH PA, ATTACH A
		WHERE P.PROD_ID = PA.PROD_ID
				AND PA.ATTACH_ID = A.ATTACH_ID
				AND P.PROD_ID = #{prod_id}
				AND PA.FILE_FLG = '0001'
	</select>
	
	<select id="catalList" parameterType="String" resultType="com.crm.cp.standard.prod.vo.ProdVO">
		SELECT A.ATTACH_ID,
				A.FILE_ROOT AS PROD_CATAL_NM,
				A.FILE_NM AS PROD_CATAL_SAVE_LOC
		FROM PRODUCT P, PROD_OF_ATTACH PA, ATTACH A
		WHERE P.PROD_ID = PA.PROD_ID
				AND PA.ATTACH_ID = A.ATTACH_ID
				AND P.PROD_ID = #{prod_id}
				AND PA.FILE_FLG = '0002'
	</select>
	
	<update id="prodDelete" parameterType="String">
		UPDATE PRODUCT
		SET
			ACT_YN='N'
		WHERE
			PROD_ID=#{prod_id}
	</update>
	
	<select id="fileList" parameterType="String" resultType="com.crm.cp.standard.prod.vo.ProdVO">
		SELECT A.ATTACH_ID
		FROM PRODUCT P, PROD_OF_ATTACH PA, ATTACH A
		WHERE P.PROD_ID = PA.PROD_ID
				AND PA.ATTACH_ID = A.ATTACH_ID
				AND P.PROD_ID = #{prod_id}
	</select>
	
	<delete id="fileDelete" parameterType="String">
		DELETE FROM ATTACH
		WHERE ATTACH_ID = #{attach_id}
	</delete>
	
	<delete id="prodFileDelete" parameterType="String">
		DELETE FROM PROD_OF_ATTACH
		WHERE PROD_ID = #{prod_id}
	</delete>
	
	<update id="imgFileInsert" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		insert into ATTACH(
			ATTACH_ID,
			FILE_ROOT,
			FILE_NM,
			REG_D
		)VALUES(
			(SELECT /*+INDEX_DESC(ATTACH PK_ATTACH)*/
				DECODE(MAX(ATTACH_ID),NULL,'ATT0000001',SUBSTR(MAX(ATTACH_ID),1,3)||LPAD((SUBSTR(MAX(ATTACH_ID),4,7)+1),7,0))ATTACH_ID
			FROM ATTACH
			WHERE ROWNUM = 1),
			#{prod_img_nm, jdbcType=VARCHAR},
			#{prod_img_save_loc, jdbcType=VARCHAR},
			sysdate
		)
		<selectKey keyProperty="img_seq" resultType="String" order="AFTER">
			SELECT /*+INDEX_DESC(ATTACH PK_ATTACH)*/
				ATTACH_ID
			FROM ATTACH
			WHERE ROWNUM = 1
		</selectKey>
	</update>
	
	<update id="catalFileInsert" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		insert into ATTACH(
			ATTACH_ID,
			FILE_ROOT,
			FILE_NM
		)VALUES(
			(SELECT /*+INDEX_DESC(ATTACH PK_ATTACH)*/
				DECODE(MAX(ATTACH_ID),NULL,'ATT0000001',SUBSTR(MAX(ATTACH_ID),1,3)||LPAD((SUBSTR(MAX(ATTACH_ID),4,7)+1),7,0))ATTACH_ID
			FROM ATTACH
			WHERE ROWNUM = 1),
			#{prod_catal_nm, jdbcType=VARCHAR},
			#{prod_catal_save_loc, jdbcType=VARCHAR}
		)
		<selectKey keyProperty="catal_seq" resultType="String" order="AFTER">
			SELECT /*+INDEX_DESC(ATTACH PK_ATTACH)*/
				ATTACH_ID
			FROM ATTACH
			WHERE ROWNUM = 1
		</selectKey>
	</update>
	
	<update id="prodImgFileInsert" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		insert into PROD_OF_ATTACH(
			PROD_ID,
			ATTACH_ID,
			FILE_FLG,
			FST_REG_ID,
			FIN_MDFY_ID
		)VALUES(
			<if test="prod_seq != null and imq_seq != null">
				#{prod_seq},
				#{img_seq},
			</if>
			<if test="prod_id != null and attach_imq_id != null">
				#{prod_id},
				#{attach_imq_id},
			</if>
			'0001',
			#{fst_reg_id},
			#{fst_reg_id}
		)
	</update>
	
	<update id="prodCatalFileInsert" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		insert into PROD_OF_ATTACH(
			PROD_ID,
			ATTACH_ID,
			FILE_FLG,
			FST_REG_ID,
			FIN_MDFY_ID
		)VALUES(
			<if test="prod_seq != null and imq_seq != null">
				#{prod_seq},
				#{catal_seq},
			</if>
			<if test="prod_id != null and attach_catal_id != null">
				#{prod_id},
				#{attach_catal_id},
			</if>
			'0002',
			#{fst_reg_id},
			#{fst_reg_id}
		)
	</update>
	
	<update id="prodCatalFileUpdateData" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		UPDATE ATTACH
		SET
			FILE_ROOT = #{prod_catal_nm, jdbcType=VARCHAR},
			FILE_NM = #{prod_catal_save_loc, jdbcType=VARCHAR},
			REG_D = sysdate	
		WHERE ATTACH_ID=#{attach_catal_id}	
	</update>
	
	<update id="prodImgFileUpdateData" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		UPDATE ATTACH
		SET
			FILE_ROOT = #{prod_img_nm, jdbcType=VARCHAR},
			FILE_NM = #{prod_img_save_loc, jdbcType=VARCHAR},
			REG_D = sysdate
		WHERE ATTACH_ID=#{attach_img_id}
	</update>
	
	<delete id="prodImgFileDelete" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		delete from PROD_OF_ATTACH
		where prod_id = #{prod_id}
			and ATTACH_ID = #{attach_img_id}
	</delete>
	
	<delete id="prodCatalFileDelete" parameterType="com.crm.cp.standard.prod.vo.ProdVO">
		delete from PROD_OF_ATTACH
		where prod_id = #{prod_id}
			and ATTACH_ID = #{attach_catal_id}
	</delete>
	
	
</mapper>