<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="reply">

 <insert id="addReply">
  INSERT INTO TB_REPLY (REPLY_NO, BOARD_NO, REPLY_CONTENT, CREATED_BY)
  values
   (reply_seq.nextval, #{BOARD_NO ,jdbcType=VARCHAR}, #{REPLY_CONTENT ,jdbcType=VARCHAR}, #{CREATED_BY, jdbcType=VARCHAR})
 </insert> 

<select id ="replyList" parameterType="int" resultType="com.crm.cp.standard.board.vo.ReplyVO">
SELECT
*
FROM TB_REPLY
WHERE BOARD_NO = #{BOARD_NO} 
</select>

 <delete id="removeReply" parameterType="String" > 
 delete tb_reply
 	where REPLY_NO = #{REPLY_NO}
 </delete>


	<select id="replyListCount" parameterType="java.util.Map" resultType="int">
	    select count(*) as cnt
		 FROM TB_REPLY
		where BOARD_NO = #{BOARD_NO}   
	 </select>
		
<select id="SearchList"  parameterType="map" resultType="com.crm.cp.standard.board.vo.ReplyVO">
SELECT X.*
FROM ( SELECT ROWNUM AS RNUM, A.*
       FROM (
         SELECT REPLY_NO, REPLY_CONTENT, to_char(CREATED,'yy-mm-dd hh:mi') CREATED, CREATED_BY
         FROM TB_REPLY
         WHERE 
         	BOARD_NO = #{BOARD_NO} 
         ORDER BY REPLY_NO DESC ) A
     ) X
     <![CDATA[
        WHERE X.RNUM >= #{startRow} AND X.RNUM <= #{endRow}
	 ]]>
</select>		
		
		
		<!-- 리스트 개수 -->
	<select id="selectTotalCount" parameterType="java.util.Map"
		resultType="integer">
		SELECT COUNT(*)
		FROM tb_reply
		where BOARD_NO = #{BOARD_NO} 
	</select>
	
	
	<!-- 전체리스트 -->
	<select id="selectAll" parameterType="java.util.Map"
		resultType="com.crm.cp.standard.board.vo.ReplyVO">
		SELECT b.*
		FROM (
		SELECT ROWNUM seq, a.*
		from(
		SELECT
		*
		FROM tb_reply
		WHERE BOARD_NO = #{BOARD_NO} 
		ORDER BY REPLY_NO DESC
		) a
		) b
		<![CDATA[WHERE seq >= #{page.startRow} and seq <= #{page.endRow}]]>
	</select>
	
	
	<select id="replyCount" parameterType="int" resultType="int">
	select count(reply_no) 
	from tb_reply
	where BOARD_NO = #{BOARD_NO}
	</select>
	
	




</mapper>