@CHARSET "UTF-8";

/* <!-- --------------------------------------헤더-------------------------------------- --> */
#main_header {
    height: 7.8%;
    line-height: 60px;
    padding-left: 1%;
    border-bottom: 1px solid black;
    background: #1D4088;
    color: white;
}

#header_banner{
	font-weight: bold;
	font-size: 1.8em;
	font-style: italic;
}

#point{
	color:#71B1D1;
}