@CHARSET "UTF-8";

html {
	font-family: 'Nanum Gothic', Dotum, "돋움", Gulim, "굴림", Verdana, Arial,
		"Trebuchet MS";
	border-collapse: collapse;
	font-size: 13px;
}

input[type=text] {
	font-size: 1em;
}

select{
	 margin-left: 10px;
  	 background-color:#ffffff;
 	 color:#5F5F5F;
 	 border:1px solid #C0C4CB;
 	 padding:5px 5px;
 	 border-radius:5px 5px 5px 5px;
}

#title .caption {
	color: #484848;
	font-weight: bold;
	border-bottom: 1px solid #dddddd;
  	text-align: left;
  	padding-top: 10px;
  	padding-bottom: 10px;
}
.search_div{
	margin-top: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	color: #484848;
	font-weight: bold;
	border-bottom: 1px solid #90C3FF;
}

.act_txt_search {
	position:relative;
	width:30%;
	height:24px;
	border:1px solid #bebebe;
	color:#232323;
	border-radius: 5px 5px 5px 5px;
	padding: 2px;
	padding-left: 8px;
	margin-left: 5px;
	margin-right: 40px;
}

.act_tab_select {
	width: 9%;
	height: 30px;
	padding: 3px;
}

#seachActSaleInput {
	position:relative;
	width:30%;
	height:25px;
	border:1px solid #bebebe;
	color:#232323;
	border-radius: 5px 5px 5px 5px;
	padding: 2px;
	padding-left: 8px;
	margin-left: 5px;
	margin-right: 40px;
}

.act_bt{
  	 background-color:#eaeaea;
 	 color:#353535;
 	 border:1px solid #C0C4CB;
 	 padding:5px 5px;
 	 border-radius:5px 5px 5px 5px;
 	 width: auto;
 	 margin-right: 5px;
 	 cursor: pointer;
 	 vertical-align: middle;
}

.act_bt:hover{
  	 background-color:#ABABAB;
 	 color:white;
 	 border:1px solid #C0C4CB;
 	 padding:5px 5px;
 	 border-radius:5px 5px 5px 5px;
 	 width: auto;
 	 cursor: pointer;
 	 vertical-align: middle;
}

#dboardtable {
	width:100%;
	margin-top: 10px;
	text-align: center;
/* 	border-top: 2px solid #C0C4CB; */
/* 	border-bottom: none; */
	border-collapse: collapse;
}

#dboardtable thead th{
	border-bottom: none;
}

#dboardtable thead tr{
	border-bottom: 2px solid #C0C4CB;
	background-color: #F2F2F2;
	font-weight: bold;
}
#dboardtable td{
	height:15px;
	border: 1px solid #DDDDDD;
	text-align: center;
}

#dboardtable tbody td{
	color: black;
/* 	border: 1px solid #DDDDDD; */
	padding:0.5px;
}

#dboardtable tbody td a{
	color: inherit;
	text-decoration: none;
}

#dboardtable tbody tr:HOVER{
/* 	background-color: #ebe7e7; */
}
