@CHARSET "UTF-8";
html{
	font-family: 'Nanum Gothic', Dotum, "돋움", Gulim, "굴림", Verdana, Arial, "Trebuchet MS";
	border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
}

select{
	 margin: 0em !important;
    max-width: 100% !important;
    -webkit-box-flex: 1 !important;
    -webkit-flex: 1 0 auto !important;
    -ms-flex: 1 0 auto !important;
    flex: 1 0 auto !important;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    text-align: left !important;
    line-height: 1.21428571em !important;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    padding: 0.67857143em 1em !important;
    background: #FFFFFF !important;
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border-radius: 0.28571429rem !important;
    -webkit-transition: box-shadow 0.1s ease, border-color 0.1s ease !important;
    transition: box-shadow 0.1s ease, border-color 0.1s ease !important;
    box-shadow: none !important;
}

#title .caption{
  	/* margin-left: 0px; */
  	color:#484848;
  	font-weight:bold;
  	border-bottom: 1px solid #dddddd;
  	padding-bottom: 10px;
  }
  
.int_search{
	position:relative;
	width:40%;
	height:24px;
	border:1px solid #bebebe;
	color:#232323;
	border-radius: 5px 5px 5px 5px;
}  
/* -----------------------------------------권한관리리스트----------------------------------------------- */
.auth_bt_position{
	padding-top: 10px;
	float: right;
}

.search_bt_position{
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	
}

.bs-example #authtable{
/* 	float: left;  */
	width:100%;
/* 	border-collapse: collapse; */
/*     border-spacing: 0; */
/*     border: 1px solid #dddddd; */
    
}

.bs-example #authtable thead{
	float: left; 
	width:100%; text-align: center;
}

.bs-example #authtable thead tr{
	height:35px;
	padding: 5px;

}

.bs-example #authtable thead th{
/* 	font-weight: bold; */
/* 	vertical-align: bottom; */
/*     border-bottom: 2px solid #dddddd; */
/*     padding: 8px; */
	padding-left:7px;
	padding-right:7px;
	text-align: center;
}

.bs-example #authtable thead td,
.bs-example #authtable thead tr{
	background-color: #F2F2F2;
	
}

.bs-example #authtable  tbody tr:hover{
	background-color:#ebe7e7;
}

.bs-example #authtable  #userAuthBody tr:hover{
	background-color:#ebe7e7;
}

.bs-example_orglist #mastertable #userAuthBody tr:hover{
	background-color:#ebe7e7;
}

.bs-example_orglist #mastertable tbody tr:hover{
	background-color:#ebe7e7;
}

.bs-example #authtable  tbody{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 400px;
}
.bs-example #authtable  tbody tr{
	display: table;
	width: 100%;

}

.bs-example #authtable  tbody td{
/* 	width: 25%; */
	padding: 5px;
    line-height: 1.428571429;
/*     vertical-align: top; */
/*     border-top: 1px solid #dddddd; */
    padding-left:7px;
    padding-right:7px;
    text-align: left;
}

/* .bs-example #authtable  thead tr th{ */
/*   vertical-align: center; */
/*   border-bottom: 2px solid #dddddd; */
/* } */

 /*조직리스트*/
 .bs-example_orglist{
	border:1px solid tranceparent;
		
}

.bs-example_orglist #mastertable{
	border-collapse; width:100%;
	border-collapse: collapse;
    border-spacing: 0;
    
}

.bs-example_orglist #mastertable thead{
	float: left; width:100%;
}

.bs-example_orglist #mastertable thead tr{
	height:35px;
	width: 100%;
}

.bs-example_orglist #mastertable thead td{
	width: 25%;
	font-weight: bold;
	vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 8px;
}

.bs-example_orglist #mastertable tbody{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 500px;
}
.bs-example_orglist #mastertable tbody tr{
	display: table;
	width: 100%;

}

.bs-example_orglist #mastertable tbody td{
	width: 25%;
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
   /*  padding-left:20px; */
    text-align: left;
}

.bs-example_orglist #mastertable thead tr th{
  float: left;
}

#authPoptable{
	
}

#authPoptable tr{
	
}

#authPoptable tr td{
	width:25%;
}

.bs-example_orglist #mastertable .otbody{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 330px;
}
.bs-example_orglist #mastertable .otbody tr{
	display: table;
	width: 100%;

}

.bs-example_orglist #mastertable .otbody td{
	width: 25%;
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
   /*  padding-left:20px; */
    text-align: left;
}

.bt_positionuserlist{
	float: right;
	margin-top: 10px;
	padding-right: 9px;
}
/* -------------------------------------------메뉴권한 테이블--------------------------------------------------- */
.bs-example #menumastertable{
	border-collapse; width:100%;
	border-collapse: collapse;
    border-spacing: 0;
    
}

.bs-example #menumastertable thead{
	float: left; width:100%;
}

.bs-example #menumastertable thead tr{
	height:35px;
}

.bs-example #menumastertable thead td{
/* 	width: 25%; */
	font-weight: bold;
	vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 8px;
}

.bs-example #menumastertable tbody tr:hover{
	background-color:#ebe7e7;
}

.bs-example #menumastertable #userAuthBody tr:hover{
	background-color:#ebe7e7;
}

.bs-example #menumastertable tbody{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 500px;
}
.bs-example #menumastertable tbody tr{
	display: table;
	width: 100%;

}

.bs-example #menumastertable tbody td{

	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.bs-example #menumastertable thead tr th{
  vertical-align: center;
  border-bottom: 2px solid #dddddd;
}

#authmenuflg{
	text-align: center;
}



/* --------------------------------------------------권한메뉴 팝업------------------------------------------------------- */


.bs-example #authmenupopuptable{
	border-collapse; width:100%;
	border-collapse: collapse;
    border-spacing: 0;
    
}

.bs-example #authmenupopuptable thead{
	float: left; width:100%;
}

.bs-example #authmenupopuptable thead tr{
	height:25px;
}

.bs-example #authmenupopuptable thead td{
	font-weight: bold;
	vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 8px;
}

.bs-example #authmenupopuptable tbody{
	overflow-y:hidden;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 250px;
	overflow-y:scroll; 
}
.bs-example #authmenupopuptable tbody tr{
	display: table;
	width: 100%;
	cursor: pointer;
}

.bs-example #authmenupopuptable tbody td{
	
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    padding-left:20px;
    text-align: left;
}

.bs-example #authmenupopuptable thead tr th{
  vertical-align: center;
  border-bottom: 2px solid #dddddd;
}

.bs-example #authmenupopuptable tbody tr:hover{
	background-color:#ebe7e7;
}

/* -------------------------------------------------------메뉴 팝업----------------------------------------------------- */


.bs-example #menupopuptable{
	border-collapse; width:100%;
	border-collapse: collapse;
    border-spacing: 0;
    
}

.bs-example #menupopuptable thead{
	float: left; width:100%;
}

.bs-example #menupopuptable thead tr{
	height:25px;
}

.bs-example #menupopuptable thead td{
	font-weight: bold;
	vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 8px;
}

.bs-example #menupopuptable tbody{
	overflow-y:hidden;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 250px;
	overflow-y:scroll; 
}
.bs-example #menupopuptable tbody tr{
	display: table;
	width: 100%;
	cursor: pointer;
}

.bs-example #menupopuptable tbody td{
	
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    padding-left:20px;
    text-align: left;
}

.bs-example #menupopuptable thead tr th{
  vertical-align: center;
  border-bottom: 2px solid #dddddd;
}

.bs-example #menupopuptable tbody tr:hover{
	background-color:#ebe7e7;
}

.authmenuview{
	padding: 10px;
	height: 100%;
}