@CHARSET "UTF-8";

select{
	 margin-left: 0px;
  	 background-color:#ffffff;
 	 color:#5F5F5F;
 	 border:1px solid #C0C4CB;
 	 padding:5px 5px;
 	 border-radius:5px 5px 5px 5px;
 	 width: 85px;
}

.userpadding {
	padding-top: 50px;
}

#css_tabs {
	
    font-family:'nanumgothic', '나눔고딕', 'malgun gothic', '맑은 고딕', 'dotum', '돋움', sans-serif;
    margin-top:25px;
}

/* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
#css_tabs #tab1:nth-of-type(1), #css_tabs #tab1:nth-of-type(1) ~ #tabDiv1:nth-of-type(1),
#css_tabs #tab2:nth-of-type(2), #css_tabs #tab2:nth-of-type(2) ~ #tabDiv2:nth-of-type(2){
    display:none;
}
#css_tabs #tab1:nth-of-type(1):checked ~ #tabDiv1:nth-of-type(1),
#css_tabs #tab2:nth-of-type(2):checked ~ #tabDiv2:nth-of-type(2){
    display:block;
}

/* 라벨 기본 스타일 지정 */
#css_tabs > label {
    display:inline-block;
    padding:5px;
    text-align:center;
    width:90px;
    line-height:1.8em;
    font-weight:700;
    border-radius:8px 8px 0 0; 
    box-shadow:-2px 0 2px rgba(0, 0, 0, 0.1);
    background:#eee;
    color:#777;
    border:1px solid #ccc;
    border-width:1px 1px 0;
    margin-bottom:-1px;
}
#css_tabs > label:hover {
    cursor:pointer; /*마우스 올렸을 때 손 모양*/
}

/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
#css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #css_tabs > label[for=tab1]:hover {
    background:#818181;
    color:#fff
}
#css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #css_tabs > label[for=tab2]:hover {
    background:#818181;
    color:#fff;
}

/*  실제 내용이 담긴 div 요소 스타일 지정 */
#css_tabs .tab1_content, #css_tabs .tab2_content{
    border:1px solid #ddd;
    height:495px;
 
}

   .int{
    position:relative;
	width:65%;
	height:24px;
	border:1px solid #bebebe;
	color:#333;
	z-index:10;
	border-radius: 5px 5px 5px 5px;
  
  }
  
    .int_tel{
    position:relative;
	height:20px;
	border:1px solid #bebebe;
	color:#333;
	width:40px;
	height:24px;
	border-radius: 5px 5px 5px 5px;
  
  }
    .int_zip{
    position:relative;
	height:20px;
	border:1px solid #bebebe;
	color:#333;
	width:91px;
	height:24px;
	border-radius: 5px 5px 5px 5px;
  
  }
    .int_zipadd{
    margin-top:5px;
    position:relative;
	height:20px;
	border:1px solid #bebebe;
	color:#333;
	width:694px;
	height:24px;
	border-radius: 5px 5px 5px 5px;
  
  }
  
   .int_email{
    position:relative;
	width:40%;
	height:24px;
	border:1px solid #bebebe;
	color:#333;
	border-radius: 5px 5px 5px 5px;
  
  }
    .int_search{
    position:relative;
	width:45%;
/* 	height:24px; */
	border:1px solid #bebebe;
	color:#333;
	border-radius: 5px 5px 5px 5px;
  
  }
  
  .int_select{
    border-radius: 5px 5px 7px 7px; 
    width:60%;
  }  

#authMenuKeyfield{
	margin: 0em !important;
    max-width: 100% !important;
    -webkit-box-flex: 1 !important;
    -webkit-flex: 1 0 auto !important;
    -ms-flex: 1 0 auto !important;
    flex: 1 0 auto !important;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    text-align: left !important;
    line-height: 1.21428571em !important;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    padding: 0.67857143em 1em !important;
    background: #FFFFFF !important;
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border-radius: 0.28571429rem !important;
    -webkit-transition: box-shadow 0.1s ease, border-color 0.1s ease !important;
    transition: box-shadow 0.1s ease, border-color 0.1s ease !important;
    box-shadow: none !important;
}

.table{
	font-size: 13px;
	margin-top: 15px;
}  

.table tbody > tr > th {
	
	line-height: 1.4;
	width : 8%;
	vertical-align: middle;
	height:30px;
}


.table tbody > tr > td {	
    line-height: 1.4;
    vertical-align: middle;
    width: 18%;
    height:30px;
}

.table tbody > tr > th,
.table tbody > tr > td{
	padding-bottom: 7px;
}

.bt_position_detail{
	float:right;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
}

 /*메뉴별권한 리스트*/
 .bs-example_menulist{
	border:1px solid tranceparent;
}

.bs-example_menulist #mastertable{
	float: left; 
	width:100%;
/* 	border-collapse: collapse; */
/*     border-spacing: 0; */
/*     border: 1px solid #dddddd; */
/* 	display:block; */
}

.bs-example_menulist #mastertable thead{
	float: left; 
	width:100%;
	text-align:center;
	
}

.bs-example_menulist #mastertable thead tr{
	padding: 5px;
	width: 100%;
}

.bs-example_menulist #mastertable thead th{
	width: 25%;
/* 	font-weight: bold; */
/* 	vertical-align: bottom; */
/*     border-bottom: 2px solid #dddddd; */
/*     padding: 8px; */
/*     padding-left:20px; */
	padding-left:7px;
	padding-right:7px;
/*     background-color: #F2F2F2; */
}
    
.bs-example_menulist #mastertable tbody{
/* 	display:block; */
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 405px;
}
.bs-example_menulist #mastertable tbody tr{
	display: table;
	width: 100%;

}

.bs-example_menulist #mastertable tbody td{
/* 	width: 25%; */
	padding: 8px;
    line-height: 1.428571429;
/*     vertical-align: top; */
    border-top: 1px solid #dddddd;
    padding-left:20px;
    text-align: left;
}

/* .bs-example_menulist #mastertable thead tr th{ */
/*   float: left; */
/*   margin-right: 8px; */
/* } */

.bs-example_menulist #mastertable #userAuthBody tr:hover{
	background-color:#ebe7e7;
}

.bs-example_menulist #mastertable tbody tr:hover{
	background-color:#ebe7e7;
}


.bs-example_menulist #mastertable .otbody{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 330px;
}
.bs-example_menulist #mastertable .otbody tr{
	display: table;
	width: 100%;

}

.bs-example_menulist #mastertable .otbody td{
	width: 25%;
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    padding-left:20px;
    text-align: left;
}

.bt_position{
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
