@CHARSET "UTF-8";

age,population
2.<5,2704659
3.5-13,4499890
4.14-17,2159981
5.18-24,3853788
6.25-44,14106543
7.45-64,8819342
8.≥65,612463


/* svg Css */
svg {
	width: 355px;
	height: 325px;
	border: 1px solid black;
}
.bar {
	fill : orange;
}
.barNum{
	font-size: 9pt;
	text-anchor : middle;
	
}
.axis text{
	font-family: sans-serif;
	font-size: 11px;
}
.axis path, .axisline{
	fill:none;
	stroke:black;
	
}
.axis_x line{
	fill:none;
	stroke:black;
	
}
.barName{
	font-size: 9pt;
	text-anchor : middle;
}
.pie{
	fill : orange;
	stroke : black;
}
/*  */

#title .caption{
/*   	margin-bottom: 20px; */
  	color: #484848;
    font-size: 11pt;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;

}

#left_home{
	width:47%;
	height: 25%;
	border-radius: 5px 5px 5px 5px;
	border:1px solid #bebebe;
	float: left;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 12px;
	margin-bottom: 12px;
	overflow: auto;
} 

#right_home{
	width:47%;
	height: 25%;
	border-radius: 5px 5px 5px 5px;
	border:1px solid #bebebe;
	float: right;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 12px;
	margin-bottom: 12px;
	overflow: auto;
}

#contract_title{
	color:#484848;
  	font-weight:bold;
  	font-family: 'Nanum Gothic', Dotum, "돋움", Gulim, "굴림", Verdana, Arial, "Trebuchet MS";
/*   	border-bottom: 1px solid #dddddd; */
  	padding-left: 10px;
  	padding-top:10px;
  	padding-bottom: 10px;
  	
} 

/* .detailPopbtn{	   */
/* 	 float: right; */
/* 	 font-weight: normal; */
/*   	 background-color:#eaeaea; */
/*  	 color:#353535; */
/*  	 white-space: nowrap; */
/*  	 border:1px solid #C0C4CB; */
/*  	 padding:3.5px 3.5px; */
/*  	 border-radius:5px 5px 5px 5px; */
/*  	 width: auto; */
/*  	 margin-right: 5px; */
/*  	 cursor: pointer; */
/*  	 vertical-align: middle;   */
/*  	 text-align:center; */
/*  	 margin-top: -5px; */
/* } */

.tiny {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 1em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.tiny:hover {
	text-decoration: none;
}

.tiny:active {
	position: relative;
	top: 1px;
}

#contract_title {
	width: 100%;
}
#hometext {
	float: left;
}
#homebtn{
	text-align: right;
	padding-right: 10px;
	
}

.contract_detail:hover,
.contract_detail:focus,
.contract_detail:active,
.contract_detail.active{
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

 #tableline{
	padding-top: 20px;
	width: 100%;	
}

#tableline2{
	float:right;
	padding-top: 19px;
	width: 70%; 
}

#goaltable{
	border: 2px solid #DDD;
	width: 100%;
	height:80px;
	border-collapse: collapse;
}

#goaltable th{
	width: 5%;
	text-align: center;
}

#goaltable thead{
	text-align: center;
}

#goaltable tr,
#goaltable tr td{
	border: 1px solid #DDD;
}

#goaltable thead th,
#goaltable thead td {
	background-color: #F2F2F2;
	font-weight: bold;
	height:10px;
	padding: 5px 5px;
	
}

#goaltable tbody tr,
#goaltable tbody tr td {
	text-align: center;
}

/* Table 해더 고정 */
#acttable{
	border: 2px solid #DDD;
	width: 100%;
	height:80px;
	border-collapse: collapse;
}

#acttable th{
	width: 5%;
	text-align: center;
}

#acttable thead{
	text-align: center;
}

#acttable tr,
#acttable tr td{
	border: 1px solid #DDD;
}

#acttable thead th,
#acttable thead td {
	background-color: #F2F2F2;
	font-weight: bold;
	height:10px;
	padding: 5px 5px;
	
}

#acttable tbody tr,
#acttable tbody tr td {
	text-align: center;
}

#acttable tr:hover{
	background-color:#ebe7e7;
}

#acttable {
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 200px;
	margin-top: 18px;
}


