html{
	font-family: 'Nanum Gothic', Dotum, "占쎈즻占쏙옙", Gulim, "�뤃���뵝", Verdana, Arial, "Trebuchet MS";
	border-collapse: collapse;
	font-size:13px;
}
input[type=text]{
	font-size: 1em;
}
select{
	margin: 0em !important;
    max-width: 100% !important;
    -webkit-box-flex: 1 !important;
    -webkit-flex: 1 0 auto !important;
    -ms-flex: 1 0 auto !important;
    flex: 1 0 auto !important;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    text-align: left !important;
    line-height: 1.21428571em !important;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
/*     padding: 0.67857143em 1em !important; */
    background: #FFFFFF !important;
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border-radius: 0.28571429rem !important;
    -webkit-transition: box-shadow 0.1s ease, border-color 0.1s ease !important;
    transition: box-shadow 0.1s ease, border-color 0.1s ease !important;
    box-shadow: none !important;
    height:29px;
}
.search_div{
	font-weight: bold;
	color:#484848;
	padding-top: 10px;
	padding-bottom: 0px;
/* 	padding-right: 10px; */
}
.btn-success-tel {
	display: inline-block;
	padding: 4px 9px;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #353535;
	background-color: #EAEAEA;
	border-color: #BDBDBD;
}
.btn-success-tel:hover, .btn-success-tel:focus, .btn-success-tel:active,
	.btn-success-tel.active, .open .dropdown-toggle.btn-success-tel {
	color: #ffffff;
	background-color: #6B6B6B;
	border-color: #BDBDBD;
}
#title .caption{
  	color:#484848;
  	font-weight:bold;
  	border-bottom: 1px solid #dddddd;
  	padding-bottom: 10px;
  	text-align: left;
  	padding-bottom: 10px;
  }
  
#bt_position_authuser{
	float: right;
}

.oppt_nm_class{
	cursor: pointer;
}
.tel_search {
	position: relative;
	width: 8%;
	height: 24px;
	border: 1px solid #bebebe;
	color: #333;
	border-radius: 5px 5px 5px 5px;
	margin-right: 40px;
}

/* #goaltable { */
/* 	width:100%; */
/* 	margin-top: 10px; */
/* 	border-top: 2px solid #C0C4CB; */
/* 	border-bottom: 2px solid #C0C4CB; */
/* 	border-collapse: collapse; */
/* } */

/* #goaltable thead tr{ */
/* 	border-bottom: 2px solid #C0C4CB; */
/* 	background-color: #F2F2F2; */
/* 	font-weight: bold; */
/* } */

#goaltable td{
	height:25px;
}

/* #goaltable tbody tr:hover { */
/* 	background-color: #ebe7e7; */
/* } */

#goaltable tbody td{
	color: black;
/* 	border-bottom: 1px solid #DDDDDD; */
	padding:1.5px;
/* 	padding-right:10px; */
}

#goaltable tbody td a{
	color: inherit;
	text-decoration: none;
}

#ccPageInput {
	width: 22px;
	height: 18px;
	text-decoration: none;
	text-align: center;
	position: relative;
	border: 1px solid #bebebe;
	color: #333;
	z-index: 10;
	border-radius: 5px 5px 5px 5px;
}



.custcomp_btn{
  	 background-color:#eaeaea;
 	 color:#353535;
 	 border:1px solid #C0C4CB;
 	 padding:5px 5px;
 	 border-radius:5px 5px 5px 5px;
 	 width: 45px;
 	 margin-right: 5px;
 	 cursor: pointer;
 	 vertical-align: middle;
}

#contact_button_position {
	float: right;
	margin-top: 10px;
	padding-right: 10px;
}

/* #pageSpace { */
/* 	float: left; */
/* 	margin-top: 10px; */
/* 	padding-right: 10px; */
/* } */

#estList tr{
	height: 43px;
}

