@CHARSET "UTF-8";
/*기본값*/
html{
	font-family: 'Nanum Gothic', Dotum, "돋움", Gulim, "굴림", Verdana, Arial, "Trebuchet MS";
	border-collapse: collapse;
	font-size: 13px;
}

#title .caption{
  	color:#484848;
  	font-weight:bold;
  	border-bottom: 1px solid #dddddd;
  	padding-bottom: 10px;
  	text-align: left;
  	padding-bottom: 10px;
  }

#dboardbody{
	margin-left: 5%;
	margin-right: 5%;
}

#dataselectbox{
	background-color: #ffffff;
	color: #5F5F5F;
	border: 1px solid #C0C4CB;
	padding: 4px 4px;
	border-radius: 5px 5px 5px 5px;
	width: 130px;
	margin-top: 7px;
}

#dboardtable{
	width:100%;
	margin-top: 10px;
	border-top: 2px solid #C0C4CB;
	border-bottom: 2px solid #C0C4CB;
	border-collapse: collapse;
}

#dboardtable thead tr{
	border-bottom: 2px solid #C0C4CB;
	background-color: #F2F2F2;
	font-weight: bold;
}

#dboardtable td{
	height:25px;
}

#dboardtable tbody td{
	color: black;
	border-bottom: 1px solid #DDDDDD;
	padding:1.5px;
}

#dboardtable tbody td a{
	color: inherit;
	text-decoration: none;
}

#dboardtable tbody tr:HOVER{
	background-color: #ebe7e7;
}

#directbtndiv{
	margin-top: 20px;
}

#searchdboardinput{
	position: relative;
	width: 160px;
	height: 24px;
	border: 1px solid #bebebe;
	color: #333;
	border-radius: 5px 5px 5px 5px;
	margin-top: 7px;
	float: right;
}

.searchbtn{
	margin-top: 7px;
	margin-left: 7px;
	float: right;
	display: inline-block;
	padding: 4px 9px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #353535;
	background-color: #EAEAEA;
	border-color: #BDBDBD;
}

#searchdboardinput[placeholder]{
	color: gray;
	text-align:center;
}

#btndiv{
	float: right;
}

.btn {
	display: inline-block;
	padding: 4px 9px;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #353535;
	background-color: #EAEAEA;
	border-color: #BDBDBD;
}

.btn-default:hover{
	color: #ffffff;
	background-color: #6B6B6B;
	border-color: #BDBDBD;
}

#numbtndiv{
	text-align:center;
}

.numbtn{
	border: #bebebe;
	border-radius: 5px 5px 5px 5px;
}