@CHARSET "UTF-8";

select{
	 margin-left: 10px;
  	 background-color:#ffffff;
 	 color:#5F5F5F;
 	 border:1px solid #C0C4CB;
 	 padding:5px 5px;
 	 border-radius:5px 5px 5px 5px;
 	 width: 85px;
}

.table{
	margin-top: 15px;
}

.table1_1 thead>tr>th,
.table1_1 tbody>tr>th,
.table1_1 tfoot>tr>th,
#table_tr_th1_1{
	padding: 8px;
	line-height: 1.0;
	vertical-align: top;
	background: #ffeeee;

}
.table1_1 thead>tr>td,
.table1_1 tbody>tr>td,
.table1_1 tfoot>tr>td{
	line-height:1.428571429;
	vertical-align:top;
}
.bs-example{
	
	border:1px solid tranceparent;
		
}
#table2_1{
	padding:2px 2px 2px 2px;
	border:0px solid tranceparent;
	vertical-align: center;
	margin-bottom: 0px;
}
#table_tr_th2_1{
	width: 83%;
	border:0px solid tranceparent;
}
#tbody1_1{
}
.table1_1{
	width: 100%;
	border:0px;
	margin: 0px auto;
	
}

.bs-example #mastertable{
	border-collapse; 
	width:100%;
	border-collapse: collapse;
    border-spacing: 0;
    
}

.bs-example #mastertable thead{
	float: left; 
	width:100%;
}

.bs-example #mastertable thead tr{
	height:35px;
}

.bs-example #mastertable thead td{
/* 	width: 25%; */
	font-weight: bold;
	vertical-align: bottom;
    padding: 8px;
}

.bs-example #mastertable tbody tr:hover{
	background-color:#ebe7e7;
}

.bs-example #mastertable #userAuthBody tr:hover{
	background-color:#ebe7e7;
}
.bs-example #mastertable tbody{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 200px;
}
.bs-example #mastertable tbody tr{
	display: table;
	width: 100%;

}

.bs-example #mastertable tbody td{
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    padding-left:20px;
    text-align: left;
}

.bs-example #mastertable thead tr th{
  vertical-align: center;
  border-bottom: 2px solid #dddddd;
}
  
.int{
    position:relative;
	width:65%;
	height:24px;
	border:1px solid #bebebe;
	color:#333;
	z-index:10;
	border-radius: 5px 5px 5px 5px;
  
}
  
.int_tel{
    position:relative;
	height:20px;
	border:1px solid #bebebe;
/* 	color:#333; */
	width:40px;
	height:24px;
	border-radius: 5px 5px 5px 5px;
  
}

.int_zip{
    position:relative;
	height:20px;
	border:1px solid #bebebe;
	color:#333;
	width:91px;
	height:24px;
	border-radius: 5px 5px 5px 5px;
  
}

.int_zipadd1{
    margin-top:5px;
    position:relative;
	height:20px;
	border:1px solid #bebebe;
	color:#333;
	width:400px;
	height:24px;
	border-radius: 5px 5px 5px 5px;
}
  
.int_zipadd2{
    margin-top:5px;
    position:relative;
	height:20px;
	border:1px solid #bebebe;
	color:#333;
	width:400px;
	height:24px;
	border-radius: 5px 5px 5px 5px;
}
  
.int_email{
    position:relative;
	width:40%;
	height:24px;
	color:#333;
	border-radius: 5px 5px 5px 5px;
}
   
.int_search{
    position:relative;
	width:45%;
/* 	height:24px; */
	border:1px solid #bebebe;
	color:#333;
	border-radius: 5px 5px 5px 5px;
}
  
.int_select{
    border-radius: 5px 5px 7px 7px; 
    width:60%;
}  
  
.table tbody > tr > th {
	line-height: 1.4;
	width : 8%;
	vertical-align: middle;
}

.table tbody > tr > th,
.table tbody > tr > td{
	padding-bottom: 5px;
	height:38px;
}

.table tbody > tr > td {
	
  line-height: 1.4;
  vertical-align: middle;
  width: 18%;
}

/* -----------------------------------------권한관리리스트----------------------------------------------- */
#searchKey{
	margin: 0em !important;
    max-width: 100% !important;
    -webkit-box-flex: 1 !important;
    -webkit-flex: 1 0 auto !important;
    -ms-flex: 1 0 auto !important;
    flex: 1 0 auto !important;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    text-align: left !important;
    line-height: 1.21428571em !important;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    padding: 0.67857143em 1em !important;
    background: #FFFFFF !important;
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border-radius: 0.28571429rem !important;
    -webkit-transition: box-shadow 0.1s ease, border-color 0.1s ease !important;
    transition: box-shadow 0.1s ease, border-color 0.1s ease !important;
    box-shadow: none !important;
}

.auth_bt_position{
	padding-top: 10px;
	float: right;
}

.search_bt_position{
	padding-top: 10px;
	float: right;
	
}

.bs-example #authtable{
	border-collapse; width:100%;
	border-collapse: collapse;
    border-spacing: 0;
    
}

.bs-example #authtable thead{
	float: left; width:100%;
}

.bs-example #authtable thead tr{
	height:35px;
}

.bs-example #authtable thead td{
/* 	width: 25%; */
	font-weight: bold;
	vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 8px;
}

.bs-example #authtable  tbody tr:hover{
	background-color:#ebe7e7;
}

.bs-example #authtable  #userAuthBody tr:hover{
	background-color:#ebe7e7;
}

.bs-example_orglist #mastertable #userAuthBody tr:hover{
	background-color:#ebe7e7;
}

.bs-example_orglist #mastertable tbody tr:hover{
	background-color:#ebe7e7;
}

 /*조직리스트*/
 .bs-example_orglist{
	border:1px solid tranceparent;
}

.bs-example_orglist #mastertable{
	width:100%;
	float: left;
/* 	border-collapse: collapse; */
/*     border-spacing: 0; */
/*     border:1px solid #dddddd; */
/*     margin-bottom:-10px; */
    
}

.bs-example_orglist #mastertable thead{
	float: left; 
	width:100%;
	text-align:center;
	
}

.bs-example_orglist #mastertable thead tr{
/* 	height:35px; */
	width: 100%;
	padding: 5px;
}

.bs-example_orglist #mastertable thead th{
	width: 25%;
/* 	font-weight: bold; */
/* 	vertical-align: bottom; */
/*     border-bottom: 2px solid #dddddd; */
/*     padding: 8px; */
/*     background-color: #F2F2F2; */
	padding-left:7px;
	padding-right:7px;
}

.bs-example_orglist #mastertable tbody{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 408px;
}

.bs-example_orglist #mastertable tbody tr{
	display: table;
	width: 100%;
}

/* .bs-example_orglist #mastertable tbody td{ */
/* 	width: 25%; */
/* 	padding: 8px; */
/*     line-height: 1.428571429; */
/*     vertical-align: top; */
/*     border-top: 1px solid #dddddd; */
/*     text-align: left; */
/* } */

/* .bs-example_orglist #mastertable thead tr th{ */
/*   float: left; */

/* } */
.bt_position{
     margin-top: 10px;
/*      margin-right:10px; */
/*      color:#484848; */
/*      font-weight: bold; */
     float: left;
     margin-bottom: 10px;
} 

.bt_position_detail{
     margin-top: 10px;
/*      margin-right:10px; */
/*      color:#484848; */
/*      font-weight: bold; */
     float: right;
     margin-bottom: 10px;
} 

#authPoptable tr td{
	width:25%;
}

.bs-example_orglist #mastertable .otbody{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 330px;
}
.bs-example_orglist #mastertable .otbody tr{
	display: table;
	width: 100%;

}

.bs-example_orglist #mastertable .otbody td{
	width: 25%;
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    text-align: left;
}

.bt_positionuserlist{
	float: right;
	margin-top: 10px;
	padding-right: 9px;
}

.userpadding {
	padding-top: 50px;
}

#css_tabs {
    margin-top:25px;
}

/* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
#css_tabs #tab1:nth-of-type(1), #css_tabs #tab1:nth-of-type(1) ~ #tabDiv1:nth-of-type(1),
#css_tabs #tab2:nth-of-type(2), #css_tabs #tab2:nth-of-type(2) ~ #tabDiv2:nth-of-type(2)
{
    display:none;
}
#css_tabs #tab1:nth-of-type(1):checked ~ #tabDiv1:nth-of-type(1),
#css_tabs #tab2:nth-of-type(2):checked ~ #tabDiv2:nth-of-type(2)
{
    display:block;
}

/* 라벨 기본 스타일 지정 */
#css_tabs > label {
    display:inline-block;
    padding:5px;
    text-align:center;
    width:150px;
    line-height:1.8em;
    font-weight:700;
    border-radius:8px 8px 0 0; 
    box-shadow:-2px 0 2px rgba(0, 0, 0, 0.1);
    background:#eee;
    color:#777;
    border:1px solid #ccc;
    border-width:1px 1px 0;
    margin-bottom:-1px;
}
#userAuthTab{
	width:150px;
	
}
#css_tabs > label:hover {
    cursor:pointer; /*마우스 올렸을 때 손 모양*/
}

/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
#css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #css_tabs > label[for=tab1]:hover {
    background:#818181;
    color:#fff
}
#css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #css_tabs > label[for=tab2]:hover {
    background:#818181;
    color:#fff;
}

/*  실제 내용이 담긴 div 요소 스타일 지정 */
#css_tabs .tab1_content, #css_tabs .tab2_content{
    border:1px solid #ddd;
    height:492px;
 
}
