@CHARSET "UTF-8";
html{
	font-family: 'Nanum Gothic', Dotum, "돋움", Gulim, "굴림", Verdana, Arial, "Trebuchet MS";
	border-collapse: collapse;
    border-spacing: 0;
    font-size:13px;
}

#title .caption{
  	color:#484848;
  	font-weight:bold;
  	border-bottom: 1px solid #dddddd;
  	padding-bottom: 10px;
  }
  
#orgTree{
  border : 2px solid transparent ;
  padding : 20px;
  height: 440px;
  color: #428bca;
  font-weight: bold;
  overflow: auto;
}

#orgTree li{
	list-style: none;
}

#orgTree li img.f_orgFlag, img.s_orgFlag, img.ss_orgFlag,a{
	cursor: pointer; 
}

.orgtree_sub li{
	display: none;
}

.org_bt_position{
	margin-top:29px;
	float:right;
}

.org_btn {
     background-color:#eaeaea;
 	 color:#353535;
 	 border:1px solid #C0C4CB;
 	 padding:5px 5px;
 	 border-radius:5px 5px 5px 5px;
 	 width: auto;
 	 cursor: pointer;
 	 vertical-align: middle;
}

#orgTreeForm{
	height: 440px;
}