/* 남색 바탕 회면 */
#loginalign{
	margin-left: 20%;
}
#wrap {
 	background-color: #29334b;  
}
#loginWrap {
	position: relative;
	
}
#logo {
	margin-top: 20px;
	margin-left: 170px;
	width: 180px;
	height: 60px;	
}
#mainLogo {
	margin-top: -30px;
	margin-bottom: 40px;
	font-size: 36pt;
	font-family: Georgia;
	color: #d2d2d2;
}