@CHARSET "UTF-8";

/* custcomp_list_div #custcomp_list_table*/  

/* div Class */
.custcomp_list_div #custcomp_list_table{
	width:100%;
	border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #DDD;
}

.custcomp_list_div #custcomp_list_table thead{
	float: left; 
	width:100%;
}

.custcomp_list_div #custcomp_list_table thead tr{
	height:35px;
}

.custcomp_list_div #custcomp_list_table thead td{
	font-weight: bold;
	vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 8px;
}

#custcomp_list_table thead th,
#custcomp_list_table thead td {
	background-color: #F2F2F2;
	font-weight: bold;
}

.custcomp_list_div #custcomp_list_table tbody tr:hover{
	background-color:#ebe7e7;
}

.custcomp_list_div #custcomp_list_table tbody{
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	width: 100%;
	height: 190px;
}
.custcomp_list_div #custcomp_list_table tbody tr{
	display: table;
	width: 100%;
}

.custcomp_list_div #custcomp_list_table tbody td{
/* 	width: 25%; */
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
/*     padding-left:20px; */
    text-align: left;
}

.custcomp_list_div #custcomp_list_table thead tr th {
    vertical-align: center;
    text-align: center;
    border-bottom: 2px solid #dddddd;
    width: 25%;
    background: #F9FAFB;
}
